<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.feng.springcloud.mapper.DeptMapper">


    <insert id="addDept" parameterType="Dept">
        insert into dept(dname,db_dource)
        values (#{dname},DATEBASE());
    </insert>


    <select id="queryAllDept" resultType="com.feng.springcloud.pojo.Dept">
        select * from dept;
    </select>


    <select id="queryDept" resultType="com.feng.springcloud.pojo.Dept" parameterType="Long">
        select *from dept where deptno = #{deptno};
    </select>
</mapper>